<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Daystar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="flex bg-black gap-2 p-4 items-center text-white">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact" class="text-red-500">Contact</a>
    </nav> 
    <h1>Contact us on:</h1>
    <ul>
        <li>Email: benjaminbarry65@gmail.com</li>
        <li>Mobile: +256-776-410446</li>
    </ul>
</body>
</html>